body{
    /* background-color: rgba(30,30,20,0.5);     */
    background-image: url(https://jooinn.com/images/simple-starry-space-background.jpg);
    background-size: cover;
    color: whitesmoke;
}

.input-style:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);

}

.table{
    color:dimgray;
}


#countdown {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-bottom: 30px;
}

.countdown li {
  background:rgba(0, 122, 255);
  margin: 6px;
  display: inline-block;
  font-size: 10px;
  list-style-type: none;
  padding: 8px 12px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
}

.countdown li span {
  display: block;
  font-size: 20px;
}
